# Importing the libraries

In [1]:
import pandas as pd
import numpy as np

# Importing the dataset

In [2]:
df = pd.read_csv('Social_Network_Ads.csv')
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [3]:
df.shape

(400, 5)

In [4]:
len(df['User ID'].value_counts())

400

In [5]:
## User id is unique so we can drop this
df.drop('User ID', axis=1, inplace=True)

In [15]:
# Label encoding
df['Gender'] = df['Gender'].map({'Male':1, 'Female':0})

In [16]:
df.head()

   Gender  Age  EstimatedSalary  Purchased
0       1   19            19000          0
1       1   35            20000          0
2       0   26            43000          0
3       0   27            57000          0
4       1   19            76000          0

In [17]:
X = df.drop('Purchased', axis=1)
y = df['Purchased']

# Splitting the dataset into the Training set and Test set

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=10)

# Fitting Decision Tree Classification to the Training set

In [19]:
from sklearn.tree import DecisionTreeClassifier

In [20]:
classifier = DecisionTreeClassifier()
classifier.fit(X_train, y_train)

DecisionTreeClassifier()

# Predicting the Test set results

In [22]:
predictions = classifier.predict(X_test)

# Making the Confusion Matrix

In [23]:
from sklearn.metrics import confusion_matrix, classification_report
confusion_matrix_score = confusion_matrix(predictions, y_test)
confusion_matrix_score

array([[44,  2],
       [ 8, 26]], dtype=int64)

# Visualising the Test set results

In [27]:
classification_score = classification_report(predictions, y_test)
print(classification_score)

              precision    recall  f1-score   support

           0       0.85      0.96      0.90        46
           1       0.93      0.76      0.84        34

    accuracy                           0.88        80
   macro avg       0.89      0.86      0.87        80
weighted avg       0.88      0.88      0.87        80