# Importing the libraries

In [1]:
import pandas as pd
import numpy as np

# Importing The DataSet

In [2]:
df = pd.read_csv('Social_Network_Ads.csv')
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [3]:
## User id is unique so we can drop this
df.drop('User ID', axis=1, inplace=True)

In [4]:
# Label encoding
df['Gender'] = df['Gender'].map({'Male':1, 'Female':0})

In [5]:
df.head()

   Gender  Age  EstimatedSalary  Purchased
0       1   19            19000          0
1       1   35            20000          0
2       0   26            43000          0
3       0   27            57000          0
4       1   19            76000          0

# Feature Scaling

In [7]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler().fit_transform(df)

In [8]:
df1 = pd.DataFrame(scaler, columns=df.columns)
df1.head()

     Gender       Age  EstimatedSalary  Purchased
0  1.020204 -1.781797        -1.490046  -0.745936
1  1.020204 -0.253587        -1.460681  -0.745936
2 -0.980196 -1.113206        -0.785290  -0.745936
3 -0.980196 -1.017692        -0.374182  -0.745936
4  1.020204 -1.781797         0.183751  -0.745936

# Splitting the dataset into the Training set and Test set

In [9]:
X = df.drop('Purchased', axis=1)
y = df['Purchased']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=0)

# Fitting K-NN to the Training set

In [12]:
from sklearn.neighbors import KNeighborsClassifier

KNN = KNeighborsClassifier().fit(X_train, y_train)

# Predicting the Test set results

In [13]:
predictions = KNN.predict(X_test)

# Making the Confusion Matrix

In [14]:
from sklearn.metrics import confusion_matrix
score = confusion_matrix(predictions, y_test)

In [15]:
score

array([[51,  7],
       [ 7, 15]], dtype=int64)

In [17]:
from sklearn.metrics import classification_report
cls_report = classification_report(predictions,y_test)
print(cls_report)

              precision    recall  f1-score   support

           0       0.88      0.88      0.88        58
           1       0.68      0.68      0.68        22

    accuracy                           0.82        80
   macro avg       0.78      0.78      0.78        80
weighted avg       0.82      0.82      0.82        80